.background {
    -fx-background-image: url("../resources/images/Background/LoadingScreenBackground.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.font {
    -fx-font-family: "Futura";
}
