@font-face {
    font-family: 'MonstersIncFont'; 
    src: url('FuturaExtraBold.ttf'); 
}
.background {
	 -fx-background-image: 	url("../resources/images/LoadingScreenBackground.png");
	-fx-background-size: 100% 100%;
  	-fx-background-repeat: no-repeat;
    	-fx-background-position: center center;
}

.font{
	-fx-font-family: 'MonstersIncFont';
}
